@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

.l-container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: block; }

.l-breadcrumb {
  width: 100%;
  padding: 10px 0 30px 0;
  background: linear-gradient(to bottom, black 0%, #292929 20%, #333333 100%); }
  .l-breadcrumb ul li {
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 20px; }
    .l-breadcrumb ul li:after {
      content: ' ＞ ';
      padding: 0 5px; }
    .l-breadcrumb ul li:last-child {
      border-bottom: 1px solid #ff0000; }
    .l-breadcrumb ul li:last-child:after {
      content: '';
      padding: 0; }

.c-gNav {
  width: 100%;
  height: 88px;
  background: #000;
  background: linear-gradient(to bottom, #000 70%, #3b3b3b 100%);
  border-bottom: 2px solid #640000; }
  .c-gNav .logo {
    width: 101px;
    float: left;
    margin-top: 18px; }
  .c-gNav ul {
    float: right;
    position: relative; }
    .c-gNav ul .active {
      color: #ff0000;
      border-bottom: 1px solid #ff0000; }
      .c-gNav ul .active a {
        color: #ff0000; }
      .c-gNav ul .active div {
        color: white; }
    .c-gNav ul li {
      float: left;
      text-align: right;
      color: #777777;
      list-style: none;
      padding: 0 17px;
      line-height: 10px;
      margin-top: 28px;
      height: 50px; }
      .c-gNav ul li div {
        color: rgba(255, 255, 255, 0.8); }
      .c-gNav ul li a {
        color: #777777;
        display: block; }
      .c-gNav ul li:before {
        content: '';
        width: 1px;
        height: 50px;
        border-right-width: 1px;
        border-right-color: #444444;
        border-right-style: solid;
        position: absolute;
        margin: -10px 0 0 17px; }
    .c-gNav ul li:nth-last-child(1) {
      padding-right: 0; }
      .c-gNav ul li:nth-last-child(1):before {
        width: 0px;
        height: 0px; }

.footer {
  color: #fff;
  display: inline-block;
  background: url(/images/footer.png) no-repeat;
  width: 100%;
  padding: 30px 0 23px 0;
  margin-top: 75px;
  box-sizing: border-box;
  position: relative; }
  .footer #fix_top {
    position: absolute;
    top: -30px;
    right: 0; }
  .footer .menu_footer ul {
    border-bottom: 1px solid #444444;
    display: flex;
    padding-bottom: 20px; }
    .footer .menu_footer ul li {
      float: left;
      margin-left: 30px;
      list-style: url(/images/footer_arow.png); }
  .footer .menu_list {
    display: flex;
    padding: 30px 0 0 35px;
    line-height: 20px; }
    .footer .menu_list ul {
      width: 352px; }
      .footer .menu_list ul li {
        list-style: url(/images/footer_arow.png); }
    .footer .menu_list ol {
      width: 352px; }
      .footer .menu_list ol li {
        list-style: url(/images/footer_arow2.png); }
  .footer .coppy {
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 11px; }

.l-side {
  max-width: 250px;
  width: 100%;
  color: #fff;
  margin-top: 40px; }
  .l-side .s_box_1 {
    border: 1px solid #444444;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    line-height: 18px; }
    .l-side .s_box_1 .s_box_t {
      font-size: 18px;
      text-align: center;
      padding: 12px 0 10px 0;
      border-radius: 4px 4px 0 0; }
    .l-side .s_box_1 .s_box_c {
      font-size: 13px;
      padding: 3px 3px 13px 3px;
      box-sizing: border-box; }
      .l-side .s_box_1 .s_box_c ul a {
        position: relative;
        border-bottom: 1px solid #444444;
        padding: 10px 0px 10px 25px;
        display: block; }
        .l-side .s_box_1 .s_box_c ul a:last-child {
          padding: 10px 0 0 25px;
          border-bottom-width: 0px; }
        .l-side .s_box_1 .s_box_c ul a img {
          position: absolute;
          margin-top: 3px;
          left: 10px; }
    .l-side .s_box_1 p {
      height: 10px;
      position: absolute;
      bottom: 0;
      width: 100%; }
    .l-side .s_box_1 .cc {
      background: #333333; }
    .l-side .s_box_1 .dd {
      background: #c80000; }
  .l-side .s_bottom {
    border-bottom: 5px solid #444444;
    border-top: 5px solid #444444;
    margin-top: 30px; }
    .l-side .s_bottom ul li {
      padding: 10px 20px;
      font-size: 16px;
      border-bottom: 1px dotted #444444;
      background: url(/images/footer_arow.png) no-repeat left; }
      .l-side .s_bottom ul li:nth-last-child(1) {
        border-bottom: 0px; }

.c-title__title_PC {
  background: #333333;
  color: #dfb433;
  width: 100%;
  padding: 24px 0;
  text-align: left;
  font-size: 28px;
  margin: 50px 0 0px 0;
  border-bottom: 1px solid #dfb433; }

.is-active {
  background: #d0cece; }
