

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
.l-container{
	max-width: 1000px;
	width: 100%;
	margin: auto;
	display: block;
}
.l-breadcrumb{
	width: 100%;
	padding: 10px 0 30px 0;
	background:linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(41,41,41,1) 20%, rgba(51,51,51,1)100%);
	ul{
		li{
			float: left;
			color: #fff;
			font-size: 12px;
			line-height: 20px;
			&:after{
				content:' ＞ ';
				padding: 0 5px;
			}
			&:last-child{
				border-bottom: 1px solid #ff0000;
			}
			&:last-child:after{
				content:'';
				padding: 0;
			}
		}
	}
}
.c-gNav{
	width: 100%;
	height: 88px;
	background: #000;
	background: linear-gradient(to bottom, #000 70%, #3b3b3b 100%);
	border-bottom: 2px solid #640000;
	.logo{
		width: 101px;
		float: left;
		margin-top: 18px;
	}
	ul{
		float: right;
		position: relative;
		.active{
			a{
				color: #ff0000;
			}
			color: #ff0000;
			border-bottom: 1px solid #ff0000;
			div{
				color: rgba(255,255,255,1);
			}
		}
		li{
			float: left;
			text-align: right;
			color: #777777;
			list-style: none;
			padding: 0 17px;
			line-height: 10px;
			margin-top: 28px;
			height: 50px;
			div{color: rgba(255,255,255,0.8)}
			a{
				color: #777777;
				display: block;
			}
			&:before{
				content: '';
				width: 1px;
				height: 50px;
				border-right-width: 1px;
				border-right-color: #444444;
				border-right-style: solid;
				position: absolute;
				margin: -10px 0 0 17px;
			}
		}
		li:nth-last-child(1){
			padding-right: 0;
			&:before{
				width:0px;
				height: 0px;
			}
		}
	}
}



.footer{
	color: #fff;
	display: inline-block;
	background: url(/images/footer.png) no-repeat;
	width: 100%;
	padding: 30px 0 23px 0;
	margin-top: 75px;
	box-sizing: border-box;
	position: relative;
	#fix_top{
		position: absolute;
		top: -30px;
		right: 0;
	}
	.menu_footer{
		ul{
			border-bottom: 1px solid #444444;
			display: flex;
			padding-bottom: 20px;
			li{
				float: left;
				margin-left: 30px;
				list-style: url(/images/footer_arow.png);
			}
		}
	}
	.menu_list{
		display: flex;
		padding: 30px 0 0 35px;
		line-height: 20px;
		ul{
			width: 352px;
			li{
				list-style: url(/images/footer_arow.png);
			}
		}
		ol{
			width: 352px;
			li{
				list-style: url(/images/footer_arow2.png);
			}
		}
	}
	.coppy{
		position: absolute;
		bottom: -20px;
		right: 0;
		font-size: 11px;
	}
}


.l-side{
	max-width: 250px;
	width: 100%;
	color: #fff;
	margin-top: 40px;
	.s_box_1{
		border: 1px solid #444444;
		border-radius: 5px;
		position: relative;
		margin-top: 20px;
		line-height: 18px;
		.s_box_t{
			font-size: 18px;
			text-align: center;
			padding: 12px 0 10px 0;
			border-radius: 4px 4px 0 0;
		}
		.s_box_c{
			font-size: 13px;
			padding: 3px 3px 13px 3px;
			box-sizing: border-box;
			ul{
				a{
					position: relative;
					border-bottom: 1px solid #444444;
					padding: 10px 0px 10px 25px;
					display: block;
					&:last-child{
						padding: 10px 0 0 25px;
						border-bottom-width: 0px;
					}
					img{
						position: absolute;
						margin-top: 3px;
						left: 10px;
					}
				}
				
			}
		}
		p{
			height: 10px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		.cc{
			background: #333333;
		}
		.dd{
			background: #c80000;
		}
	}
	.s_bottom{
		border-bottom: 5px solid #444444;
		border-top: 5px solid #444444;
		margin-top: 30px;
		ul{
			li{
				padding: 10px 20px;
				font-size: 16px;
				border-bottom: 1px dotted #444444;
				background: url(/images/footer_arow.png) no-repeat left;
				&:nth-last-child(1){
					border-bottom: 0px;
				}
			}
		}
	}
}
.c-title__title_PC{
	background: #333333;
    color: #dfb433;
    width: 100%;
    padding: 24px 0;
    text-align: left;
    font-size: 28px;
    margin: 50px 0 0px 0;
    border-bottom: 1px solid #dfb433;
}
.is-active{
	background: #d0cece;
}