
.index{
	width: 100%;
	background: #000;
	padding-bottom: 135px;
	.slide{
		background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.4) 100%);
		width: 100%;
		height: 400px;
		margin-bottom: 60px;
		position: relative;
		img{width: 100%;}
		.mySlides {display:none}
		.fade {
		    -webkit-animation-name: fade;
		    -webkit-animation-duration: 1.5s;
		    animation-name: fade;
		    animation-duration: 1.5s;
		}
		.next_prev{
			position: absolute;
			width: 100%;
			bottom: 28px;
			.prev{
				left: -35px;
				position: absolute;
				transition: 0.6s ease;
			}
			.next{
				right: -35px;
				position: absolute;
				transition: 0.6s ease;
			}
		}
		ul{
			margin-top: 15px;
			right: 0;
			position: absolute;
			.dot{
				width: 30px;
				height: 2px;
				background: #fff;
				float: left;
				margin-left: 2px;
				transition: background-color 0.6s ease;
				cursor:pointer;
			}
			.active{
				background: #ff0000;
			}
		}
	}
	.section1{
		max-width: 1000px;
		width: 100%;
		border: 1px solid #f3f1e6;
		box-sizing: border-box;
		margin-bottom: 40px;
		.ing{line-height: 0;}
		img{
			width: 100%;
		}
		.s_content{
			background: url(/images/index/index_background_3.png) no-repeat;
			background-size: cover;
			width: 100%;
			display: flex;
			.s_box{
				margin: 30px 50px;
				width: 400px;
				height: 470px;
				position: relative;
				.title1{
					background: #c80000;
				}
				.title2{
					background: #000000;
				}
				.s_title{
					width: 100%;
					text-align: center;
					opacity: 1;
					padding: 5px 0;
					color: #fff;
					position: absolute;
					z-index: 1;
					font-size: 20px;
					font-weight: 600;
				}
				.s_content_box{
					width: 100%;
					height: 89%;
					background: rgba(255, 255, 255, 0.7);
					position: absolute;
					z-index: 0;
					padding: 30px 0 15px 0;
					.s_content_1{
						display: inline-block;
						width: 100%;
    					box-sizing: border-box;
    					padding: 15px 15px 0 20px;
						img{
							max-width: 107px;
							width: 100%;
							float: left;
						}
						.s_1{
							max-width: 230px;
							width: 100%;
							float: right;
							line-height: 20px;
							p{
								font-size: 16px;
								font-weight: 600;
							}
							span{
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}
	.section2{
		width: 100%;
		height: 670px;
		background: url(/images/index/index_background_4.png) no-repeat;
		border: 1px solid #f3f1e6;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		.s_header_1{
			height: 40px;
			width: 270px;
			background: linear-gradient(to right, rgba(248, 0, 0, 1) 0%, rgba(70, 0, 0, 1) 100%);
			transform: skew(-180deg, -16deg);
			position: absolute;
			margin-top: -3px;
			z-index: 2;
			span{
				font-size: 25px;
				color: #fff;
				padding: 8px 0 0 15px;
				position: absolute;
			}
		}
		.s_header_2{
			color: #fff;
			z-index: 3;
			text-align: center;
			width: 100%;
			span{
				font-size: 45px;
				margin: 17px 0 20px 0;
				display: block;
			}
			p{
				width: 98%;
				margin: auto;
				padding:9px 0;
				background: #c80000;
				font-size: 26px;
				font-weight: 600;
			}
			img{
				position: absolute;
				right: 10px;
   				top: 27px;
			}
		}
		.s_content1{
			width: 450px;
			height: 220px;
			margin: 30px 30px 0 30px;
			box-sizing: border-box;
			float: left;
			.title{
				width: 100%;
				color: #fff;
				background: #c80000;
				font-size: 20px;
				padding: 13px 0 10px 14px;
				font-weight: 600;
				box-sizing: border-box;
			}
			.content{
				line-height: 22px;
				letter-spacing: 0px;
				background: #f3f1e6;
				padding: 8px;
				position: relative;
				span{font-size: 16px; font-weight: 600;}
				p{font-size: 24px; color: #c80000; font-weight: 600;}
				img{
					position: absolute;
					top: 35px;
					right: 20px;
				}
				.font{
					width: 90px;
					padding: 8px 0;
					background: #000;
					color: #fff;
					font-size: 13px;
					border-radius: 10%;
    				text-align: center;
    				position: absolute;
    				top: 10px;
    				right: 10px;
    				line-height: 20px;
    				&:before{
    					content:'';
    					width: 0;
    					height: 0;
    					border-bottom: 10px solid transparent;
    					border-left: 10px solid #000;
    					bottom: -10px;
    					position: absolute;
    				}
					span{
						font-size: 18px;
					}
				}
				.s{
					font-size: 13px; 
					margin-left: 10px;
					&:before{
						content: '';
						width:0;
						height: 0;
						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 9px solid #c80000;
						box-sizing: border-box;
						display: inline-block;
					}
				}
				.p{
					font-size: 14px;
					span{font-size: 18px;}
				}
				.g{
					color: #000;
					font-size: 13px;
				}
				.a{
					margin-top: 35px;
				}
			}
			&:nth-child(2n){
				margin: 30px 30px 0 0;
			}
		}
	}
	.c-title__title{
		background: #333333;
		color: #dfb433;
		width: 100%;
		padding: 24px 0;
		text-align: center;
		font-size: 28px;
		margin: 50px 0 0px 0;
	}
	.l-main{
		display: flex;
		.l-conts{
			max-width: 750px;
			width: 100%;
			color: #fff;
			padding-right: 50px;
			.font{
				margin-top: 40px;
				font-size: 13px;
				color: #fff;
				line-height: 20px;
				span{
					margin-bottom: 30px;
					display: block;
				}
			}
			.c-title{
				width: 100%;
				background: linear-gradient(to right, rgba(223, 180, 51, 1) 0%,rgba(136, 104, 7, 1) 50%, rgba(136, 104, 7, 1) 100%);
				padding: 11px 0 11px 13px;
				color: #000;
				font-size: 22px;
				font-weight: 600;
				position: relative;
				margin-bottom: 20px;
				box-sizing: border-box;
				&:before{
					position:absolute;
					content: '';
					top: 0;
					left: 0;
					border-bottom: 10px solid transparent;
					border-left: 10px solid #c80000;
				}
			}
			.c-content{
				.content{
					padding:20px;
					background: #444444;
					margin-bottom: 50px;
					.c-box{
						display: flex;
						box-sizing: border-box;
						border-bottom: 1px solid #888888;
						padding: 20px 0;
						.left{
							max-width: 240px;
							width: 100%;
							position: relative;
							span img{
								border: 1px solid #dfb433;
							}
							p{
								position: absolute;
								bottom: 6px;
								left: 20px;
							}
						}
						.right{
							width: 100%;
							line-height: 20px;
							color: #fff;
							position: relative;
							p{
								font-size: 18px;
								color: #dfb433;
							}
							span{font-size: 13px;}
							.s{
								bottom: 0;
								position: absolute;
								font-size: 16px;
								.red{
									width: 100px;
									padding: 8px 0;
									background: #c80000;
									display: inline-block;
									text-align: center;
								}
							}
						}
						&:nth-child(1){
							padding-top: 0px;
						}
					}
				}
				ul{
					columns: 5;
					-webkit-columns: 5;
                    -moz-columns: 5;
                    color: #fff;
                    font-size: 12px;
                    line-height: 20px;
                    padding: 0 15px;
                    li{
                    	margin-left: 10px;
                    	&:before{
	                    	content: '';
	                    	border-bottom: 5px solid transparent;
	                    	border-top: 5px solid transparent;
	                    	border-left: 5px solid #c80000;
	                    	display: inline-block;
	                    	padding-left: 5px;
	                    }
	                    &:last-child:before{
	                    	content: '';
	                    	border-bottom: 0px;
	                    	border-top: 0px;
	                    	border-left: 0px;
	                    }
                    }
                    
				}
				.c-img{
					margin: 24px 10px;
					img{
						margin-right: 9px;
						&:nth-child(7n){
							margin-right: 0px;
						}
					}
				}
				.z{
					background: #c80000;
					margin: 0 15px;
					box-sizing: border-box;
					padding: 8px 0;
					color: #fff;
					text-align: center;
					font-size: 18px;
				}
			}
			.map_footer{
				text-align: center;
			}
			.c-c{
				color: #fff;
				padding: 30px 10px 13px;
				box-sizing: border-box;
				background: #333333;
				position: relative;
				margin: 20px 0 30px 0;
				font-size: 13px;
				.title_t{
					position: absolute;
					color: #fff;
					top: -13px;
					left: -1px;
					width: 115px;
					padding: 5px 0 5px 5px;
					font-size: 15px;
					&:before{
						content:'';
						border-top: 13px solid transparent;
						border-bottom: 13px solid transparent;
						border-left: 13px solid #be0000;
						position: absolute;
						right: -13px;
						top: 0;
					}
				}
				.title_red{
					background: #be0000;
					&:before{
						content:'';
						border-top: 13px solid transparent;
						border-bottom: 13px solid transparent;
						border-left: 13px solid #be0000;
						position: absolute;
						right: -13px;
						top: -1px;
					}
				}
				.title_yellow{
					background: #c8a22e;
					&:before{
						content:'';
						border-top: 13px solid transparent;
						border-bottom: 13px solid transparent;
						border-left: 13px solid #c8a22e;
						position: absolute;
						right: -13px;
						top: -1px;
					}
				}
				.title_xam{
					background: #898989;
					&:before{
						content:'';
						border-top: 12px solid transparent;
						border-bottom: 12px solid transparent;
						border-left: 12px solid #898989;
						position: absolute;
						right: -12px;
						top: 0px;
					}
				}
			}
			.red{
				border: 1px solid #be0000;
			}
			.yellow{

				border: 1px solid #c8a22e;
			}
			.xam{
				border: 1px solid #898989;
			}
			.r{
				font-size: 13px;
				margin-top: -15px;
			}
		}
	}
	
}

/*//////////////////////////////////////////////
					company
//////////////////////////////////////////////*/
.l-container{
	.l-conts{
		.p-flow{
			.c-content{
				text-align: center;
				span{
					background: url(/images/flow/company_1.png) no-repeat;
					width:170px;
					height: 130px;
					display: inline-grid;
					padding-top: 55px;
					text-align: center;
					margin-bottom: 0;
					box-sizing: border-box;
					font-size: 22px;
					color: #dfb433;
					
				}
				img{
					padding: 0 10px;
					margin-top: 5px;
				}
			}
			.c-box{
				width: 100%;
				padding: 20px;
				box-sizing: border-box;
				color: #fff;
				display: flex;
				margin-top: 20px;
				background: #444444;
				position: relative;
				line-height: 20px;
				font-size: 12px;
				.c-box-img{
					position: absolute;
					top: -35px;
				}
				.c-box-left{
					max-width: 440px;
					width: 100%;
					padding-right: 30px;
					box-sizing: border-box;
					p{
						font-size: 16px;
						padding: 8px 16px 8px 12px;
						background: #c80000;
						text-align: center;
						display: table-cell;
					}
					span{
						padding: 15px 0;
						display: inline-block;
					}
					.c-box-left__div{
						background: #333333;
						padding: 10px 0;
						text-align: center;
						line-height: 10px;
						width: 100%;
						.c-box-left__title{
							color: #dfb433;
							font-size: 15px;
						}
						.c-box-left__content{
							font-size: 13px;
							span{
								font-size: 26px;
							}
							p{
								display: inline-block;
								padding: 3px 0;
								width: 75px;
								font-size: 12px;
							}
						}
					}
				}
				.c-box-right{
					max-width: 220px;
					width: 100%;
					img{
						border: 1px solid #dfb433;
						overflow: hidden;
					}
				}
			}
		}
	}
}
/*//////////////////////////////////////////////
					price-list
//////////////////////////////////////////////*/

.p-price-list{
	.c-box{
		margin-bottom: 20px;
		.c-box-title{
			width: 100%;
			padding: 12px 0 10px 12px;
			font-size: 20px;
			color: #fff;
			font-weight: 600;
			background: #c80000;
			box-sizing: border-box;
		}
		.c-box-content{
			padding: 20px;
			box-sizing: border-box;
			background: #f3f1e6;
			color: #000;
			line-height: 21px;
			display: flow-root;
			.c-box-left{
				width: 260px;
				position: relative;
				padding: 40px 21px 0 0;
				float: left;
				box-sizing: border-box;
				img{
					display: block;
					margin: auto;
				}
				.c-box-font{
					width: 90px;
				    padding: 8px 0;
				    background: #000;
				    color: #fff;
				    font-size: 13px;
				    border-radius: 10%;
				    text-align: center;
				    position: absolute;
				    top: 0px;
				    left: 130px;
				    line-height: 20px;
				    span{font-size: 18px;}
				    &:before{
				    	content: '';
					    width: 0;
					    height: 0;
					    border-bottom: 10px solid transparent;
					    border-left: 10px solid #000;
					    bottom: -10px;
					    position: absolute;
				    }
				}
			}
			.c-box-right{
				width: 400px;
				float: right;
				font-size: 12px;
				span{font-size: 24px;color: #000;font-weight: 600;}
				p{font-size: 34px; color: #c80000;padding: 10px 0; font-weight: 600;}
				.c-box-none{font-size: 14px; color: #555555; padding-bottom: 15px;}
				.c-box-list{
					padding-left: 3px;
					color: #000;
					font-size: 13px;
					&:before{
						content:'';
						display: inline-block;
						border-top:5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 8px solid #c80000;
						padding-right: 3px;
					}
				}
				.c-box-red{
					color: #c80000;
					font-size: 14px;
					span{display: inline-block; color: #c80000;font-size: 18px;font-weight: 0;}
				}
			}
			.c-box-buttom{
				margin-top: 10px;
				padding: 10px;
				display: inline-block;
				border: 1px solid #c80000;
				font-size: 12px;
				p{font-size: 14px;}
			}
		}
	}
	.c-content{
		.content{
			p{
				padding-bottom: 17px;
				font-size: 12px;
				position: relative;
				padding-left: 10px;
				&:before{
					content:'';
					width: 5px;
					height: 16px;
					background: #dfb433;
					display: inline-block;
					position: absolute;
					margin:-5px 0 0 -10px;
				}
			}
		}
	}
}

/*//////////////////////////////////////////////
					FAQ
//////////////////////////////////////////////*/

.p-faq{
	.c-box{
		margin-bottom: 20px;
		.c-box-title{
			width: 100%;
			padding: 12px 0 10px 12px;
			font-size: 20px;
			color: #fff;
			font-weight: 600;
			background: #c80000;
			box-sizing: border-box;
		}
		.c-box-content{
			padding: 20px 20px 30px 20px;
			box-sizing: border-box;
			background: #f3f1e6;
			color: #000;
			line-height: 21px;
			font-size: 12px;
		}
	}

}
/*//////////////////////////////////////////////
					about us
//////////////////////////////////////////////*/
.p-contact{
	.c-table{
		width: 100%;
		font-size: 13px;
		line-height: 25px;
		.c-table-box{
			width: 40%;
			border: 2px solid #000;
			background: #333333;
			padding:5px 10px;
		}
		.c-table-box-1{
			width: 60%;
			border: 2px solid #000;
			background: #444444;
			padding:5px 10px;
		}
	}
}

/*//////////////////////////////////////////////
					orther
//////////////////////////////////////////////*/
/*houjin_gyoumuyou*/
.c-houjin{
	display: flex;
	padding: 0 60px;
	.c-houjin-box{
		width: 250px;
		height: 200px;
		border-radius: 10px;
		background: #d8dad9;
		position: relative;
		span{
			position: absolute;
			top: 10px;
			left: 0;
			background:  #c80000;
			padding: 7px 0;
			width: 70px;
		}
	}
	img{
			width: 40px;
			height: 31px;
			padding: 80px 20px;
	}
}
.c-06{
	padding-top: 30px;
}
.p-kojin{
	width: 100%;
	text-align: center;
	font-size: 28px;
	color: #dfb433;
	padding: 30px 0 20px 0;
	background: #333333;
}
.p-kojin-img{
	display: flex;
	margin: 30px 0 110px;
	img{
		margin-right: 20px;
		&:last-child{
			margin-right:0px;
		}
	}
}
.p-kojin-game{
	margin-bottom: 50px;
	.p-kojin__title{
		margin: 30px 0 3px 0;
		width: 100%;
		padding: 10px 0 10px 13px;
		color: #dfb433;
		background: #333333;
		box-sizing: border-box;
		font-size: 18px;

	}
	.p-kojin__content{
		background: #333333;
		width: 100%;
		font-size: 13px;
		padding: 13px;
		box-sizing: border-box;
		p{
			padding-bottom: 17px;
			&:last-child{
				padding-bottom: 7px;
			}
			&:before{
				content: '';
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 10px solid #c80000;
				display: inline-block;
				padding-right: 5px;
			}
		}
	}
}